{% block nav %}
  <div role="navigation">
    <ul class="mainMenu">
      <li>{{ 'nav.home'| trans }}</li>
      <li>{{ 'nav.discography'| trans }}</li>
      <li>{{ 'nav.biography'| trans }}</li>
      <li>{{ 'nav.tour'| trans }}</li>
      <li>{{ 'nav.newsletter'| trans }}</li>
    </ul>
  </div>
  <div class="localisation">{% include 'localisation/localisation.html.twig' %}</div>
{% endblock %}