{% block nav %}
  <div role="navigation">
    <ul class="mainMenu">
      <li><a href="{{ path('home') }}">{{ 'nav.home'| trans }}</a></li>
      <li><a href="{{ path('discography') }}">{{ 'nav.discography'| trans }}</a></li>
      <li><a href="{{ path('biography') }}">{{ 'nav.biography'| trans }}</a></li>
      <li><a href="{{ path('tour') }}">{{ 'nav.tour'| trans }}</a></li>
      <li><a href="{{ path('newsletter') }}">{{ 'nav.newsletter'| trans }}</a></li>
    </ul>
  </div>
  <div class="localisation">{% include 'localisation/localisation.html.twig' %}</div>
{% endblock %}